<!-- you can get pissed all you want that i'm using ejs, because i don't give a shit -->

<!DOCTYPE html>
<html>
    <head>
        <title>Discord Bot Labs Description Reviewer 3000</title>
    </head>
    <body style="margin:0">
        <iframe src="https://bots.discordlabs.org/queue" style="border:none;width:100vw;height:100vh;"></iframe>
    </body>
</html>
